#contact_information {
                    text-align:center;
                    border-style:groove;
                    border-radius:5px;
}

#contact_information>#picture {
                   float:right;
}

span{
    color:green;
}

.my-cv{
     border-style:groove;
     border-radius:3px;
}
#messgae{
	height: 200px;
}
#form-header{
	text-align:center-left;
	color:green;
}
.container{
	float: left;